{% extends "default.html" %}
{% block title %} Playlist... {% endblock %}


{% block content %}
<div >
    <div class="page-header">
        <h1>you playlist is ready!!</h1>
        <span>
            <h1><small>I can build a playlist in you Spotify account if you like...</small></h1>
        </span>

        <div class="pull-right">
            <a href="/" class="btn btn-primary">Home</a>
            <form method="post" action="{{ url_for('createPlaylist') }}">
                <input class="btn btn-success sp-button" type="submit" value="Create Playlist..."/>
            </form>
        </div>
        
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-2"> <span><h2><small>message</small></h2></span> </div>
            <div class="col-md-8"><span><h3><small>{{ search_message }}</small></h3></span></div>
        </div>

        <ul class="media-list">
            {% for song in playlist %}
            <div class="row">
                <div class="col-lg-6">
                    <iframe frameborder="no" border="0" scrolling="yes"
                            height="300px" width="500px" src="{{ song['extern_url'] }}"></iframe>
                </div>
                <div class="col-lg-6">
                    <table>
                        <tr>
                            <td><h2><bold>Song</bold></h2></td>
                            <td><h2><small><a href="{{ song['external_url'] }}">{{ song['name'] }}</a> </small></h2></td>
                        </tr>
                        <tr>
                            <td><h2><bold>Artist</bold></h2></td>
                            <td><h2><small>{{ song['artist'] }}</small></h2></td>
                        </tr>
                        <tr>
                            <td><h2><bold>Album</bold></h2></td>
                            <td><h2><small>{{ song['album'] }}</small></h2></td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}